@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,300;0,6..12,500;0,6..12,700;1,6..12,300&display=swap');

*{
    font-family: 'Nunito Sans', 'sans-serif';
    margin: 0;
    padding: 0;
}